@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("images/bg.jpg") #030a28 no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slider-wrapper {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 70px 55px;
}

.card-list .card-item {
  user-select: none;
  background-color: rgba(255, 255, 255, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
}

/*user image*/
.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 3px;
  margin-bottom: 20px;
}

/*user name*/
.card-list .card-item .user-name {
  color: #fff;
  margin-bottom: 15px;
}

/*user profession*/
.card-list .card-item .user-profession {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 15px;
}

/*message button*/
.card-list .card-item .message-button {
  font-size: 1.3rem;
  padding: 12px 25px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;

  border: 1px solid transparent;
  background-color: #fff;
  color: #030a28;

  transition: ease 0.3s;
}
.card-list .card-item .message-button:hover {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/*pagination bullets*/
.slider-wrapper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0.5;
}
.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

/*Swiper slide button*/
.slider-wrapper .swiper-slide-button {
  color: #fff;
  transition: ease 0.3s;
  margin-top: -55px;
}
.slider-wrapper .swiper-slide-button:hover {
  color: #0a7efa;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}
